<!DOCTYPE html>
<html>

<head>
  <% include partials/head.ejs %>
</head>

<body>
  <div class="container">
    <!--Navigation Bar -->
    <% include partials/navbar.ejs %>

    <!-- Header -->
    <% include partials/header.ejs %>

    <!-- Main -->
    <hr>

  </div>

  <!-- Footer -->
  <% include partials/footer.ejs %>

</body>
</html>
